# Entornos virtuales
venv/
.env/

# Archivos temporales y cachés
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpetas de build y distribuciones
build/
dist/
*.egg-info/

# Configuraciones del sistema
.DS_Store
*.log

# Archivos exportados o privados
licenses_db.json
exports/
